---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ site.baseurl }}/">&#x290c;</a> {{ page.title }}</h1>
    <p class="post-meta">
      {% if page.difficulty %} difficulty: <span class="post-difficulty {{ page.difficulty }}"></span> {% endif %} &bull;
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">by <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a></span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
